mixin Input(props)
    -
        const {
            placeholder,
            name,
            type,
            required,
            isArea,
            formId,
            minLength,
            maxLength,
            id,
            equalTo,
            jClass,
            mask,
        } = props || {}
    .custom-input(class=`j-err_${formId}_${name}`)
        label.custom-input__placeholder
            =placeholder
            if required
                span.mf-req *
        if isArea
            textarea.custom-input__target(
                    name=name,
                    rows='5',
                    cols='40',
                    required=!!required,
                    minLength=(mask && mask.length) || !!minLength && minLength,
                    class=[!!jClass && jClass],
                    maxLength=!!maxLength|| maxLength,
                 )
        else
            input.custom-input__target(
                    id=!!id&&id,
                    type=type || 'text',
                    name=name,
                    value='',
                    required=!!required,
                    class=[`j-err_${formId}_${name}`, !!jClass && jClass],
                    minLength=(mask && mask.length) || !!minLength && minLength,
                    equalTo=!!equalTo &&`#${equalTo}`,
                    data-mask=!!mask && mask,
                    maxLength=!!maxLength &&  maxLength,
                )
        span.custom-input__error-message(class=`j-err_${formId}_${name}_TEXT`)


